* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#home-section {
  width: 100%;
  height: 100vh;
  background: url("./images/animated.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}
a:hover {
  color: orange;
}

/* header */

header {
  position: relative;
  padding: 0 2rem;
}

.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 30px 0;
  justify-content: space-between;
}

.navbar .logo a {
  font-size: 2rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 5rem;
  margin-top: 20px;
}

.navbar .links li a {
  font-size: 15px;
  text-transform: uppercase;
}

.navbar .toggle_btn {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action-btn {
  background-color: orange;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}

.action-btn:hover {
  scale: 1.05;
  color: white;
}

.action-btn:active {
  scale: 0.95;
}

.dropdown_menu {
  display: none;
  position: absolute;
  right: 0;
  top: 90px;
  height: 0;
  width: 100%;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 240px;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.slogan {
  text-align: center;
  height: 80vh;
  margin-top: 30px;
  padding: 100px 100px;
  color: white;
}

.slogan h3 {
  font-size: 60px;
}
.slogan p {
  font-size: 20px;
  font-style: italic;
  padding: 0 50px;
}
#aboutUs {
  height: 80vh;
  width: 100%;
  display: flex;
  gap: 10px;
}
.aboutUsContainer {
  margin-top: 20px;
}
.left-side-container {
  flex: 1;
  padding: 20px;
}
.left-side-container h2 {
  text-transform: uppercase;
  padding: 40px 0;
  font-size: 50px;
  font-weight: bold;
}
.left-side-container p {
  font-size: 18px;
}

.right-side-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#aboutUs-background {
  height: 100%;
  width: 100%;
}

#seciton-product {
  height: 80vh;
}

.product-container {
  gap: 20px;
}

.col.actualProduct {
  height: 60vh;
  background: #ecebf5;
  padding: 20px 60px;
  text-algn: center;
  border-radius: 10px;
}
.col.actualProduct p,
.col.actualProduct h4 {
  text-align: center;
}

.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-image.mid {
  margin-top: 10px;
}
.product-image.side {
  margin-left: 18px;
}
.product-image.side.right {
  height: 35vh;
  margin-top: 10px;
}

#customerFeedback {
  height: 80vh;
  padding-top: 50px;
  background: #1e183b;
}
.feedbackContainer h4 {
  text-transform: uppercase;
  font-size: 35px;
  text-align: center;
  color: white;
}
.col.feedbacks {
  background: white;
  margin-right: 10px;
}

.feedbacks {
  height: 25vh;
  border-radius: 20px;
  box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.2);
}

.user_profile {
  display: flex;
  padding: 10px;

  border-radius: 10px;
  width: 50%;
  margin-top: 10px;
  background: #403c66;
}

.user_profile h4 {
  font-size: 15px;
  margin-left: 10px;
  margin-top: 5px;
}

.avatar-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.user_feedbacks {
  padding: 10px;
}
.user_feedbacks p {
  line-height: 1.3em;
}

.user_feedbacks p::before {
  content: open-quote;
  color: red;
  font-size: 40px;
}
.user_feedbacks p::after {
  content: close-quote;
  color: red;
  font-size: 40px;
}

#contactUs {
  height: 0vh;
  padding: 50px 0;
}

.contact-form {
  height: 80vh;
  box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.2);
  padding: 40px;
  background-image: linear-gradient(135deg, #1e183b 10%, #0093e9 100%);
  color: white;
}

.form-group label {
  font-weight: 500;
  font-size: 20px;
}

.form-group input,
.form-group text-area {
  height: 50px;
}

.btn-submit {
  width: 100px;
}

#footer {
  height: 25vh;
  background: #1e183b;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.disclaimer {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.soc-med-icon {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  transition: transform 100ms ease-in;
  cursor: pointer;
}

.soc-med-icon:hover {
  transform: scale(1.5);
}

#credits h4 {
  color: white;
  font-size: 15px;
  opacity: 0.7;
  margin-top: 20px;
  margin-left: 10px;
}
/* responsiveness */

@media (max-width: 992px) {
  .navbar .links,
  .navbar .action-btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }
  .dropdown_menu {
    display: block;
  }
  .slogan {
    padding: 150px 30px;
  }
  .slogan h3 {
    font-size: 49px;
  }
  .slogan p {
    font-size: 15px;
    padding: 0;
    line-height: 20px;
  }
  .row.aboutUsContainer {
    display: flex;
    flex-direction: column;
  }
  .left-side-container h2 {
    font-size: 30px;
    padding: 20px 0;
  }
  .left-side-container p {
    font-size: 15px;
  }
  #aboutUs-background {
    height: 70%;
    width: 70%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  #aboutUs {
    height: 140vh;
  }
  .product-container {
    flex-direction: column;
  }
  .col.actualProduct {
    padding: 10px 12rem;
  }
  #seciton-product {
    height: 235vh;
    padding-top: 70px;
  }
  .feedbackDrawer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  .user_profile {
    width: 30%;
  }
  #customerFeedback {
    height: 205vh;
  }
  .product-image.side.right,
  .product-image.side.left {
    padding-left: 50px;
  }
  .contact-form {
    height: 100vh;
  }
  #contactUs {
    height: 110vh;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .slogan {
    padding: 85px 30px;
  }
  #aboutUs {
    height: 110vh;
  }
  .col.actualProduct {
    height: 70vh;
  }
  .product-container {
    gap: 20px;
    width: 100%;
    margin-left: 1.2px;
  }
  .product-image.side {
    margin: 0;
  }
  .product-image.mid {
    margin-right: 30px;
  }
  .col.actualProduct:nth-child(2) {
    padding: 0 50px;
  }
  .col.actualProduct {
    padding: 0 50px;
  }
  #seciton-product {
    height: 190vh;
  }
  .feedbackDrawer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  .user_profile {
    width: 80%;
  }

  #customerFeedback {
    padding: 5px;
    height: 190vh;
  }
  .col.feedbacks {
    margin-left: 10px;
  }
  .contact-form {
    height: 75vh;
  }
  #contactUs {
    height: 80vh;
  }
  .form-group label {
    font-size: 15px;
  }
  .form-group input {
    height: 30px;
  }
}
@media only screen and (max-width: 425px) {
  #customerFeedback {
    padding: 5px;
    height: 250vh;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1024px) {
  #aboutUs {
    height: 100vh;
  }
  .col.actualProduct {
    background: #ecebf5;
    padding: 20px 50px;
    text-algn: center;
    border-radius: 10px;
  }
  .product-image.side.right {
    margin-top: 30px;
  }
  .product-image {
    height: 40vh;
  }
  .user_profile {
    width: 70%;
  }
  .feedbacks {
    height: 32vh;
  }
  #customerFeedback {
    height: 105vh;
  }
  #contactUs {
    height: 90vh;
  }
  .contact-form {
    height: 80vh;
  }
}
